/FancyMapper.sln
/FancyMapper.sln.DotSettings.user
/FancyMapper.suo
/FancyMapper.v11.suo
/FancyMirrorTest/bin/Debug/FancyMirrorTest.exe
/FancyMirrorTest/bin/Debug/FancyMirrorTest.exe.config
/FancyMirrorTest/bin/Debug/FancyMirrorTest.pdb
/FancyMirrorTest/bin/Debug/FancyMirrorTest.vshost.exe
/FancyMirrorTest/bin/Debug/FancyMirrorTest.vshost.exe.config
/FancyMirrorTest/bin/Debug/FancyMirrorTest.vshost.exe.manifest
/FancyMirrorTest/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/FancyMirrorTest/obj/Debug/FancyMirror.csproj.FileListAbsolute.txt
/FancyMirrorTest/obj/Debug/FancyMirror.csprojResolveAssemblyReference.cache
/FancyMirrorTest/obj/Debug/FancyMirrorTest.exe
/FancyMirrorTest/obj/Debug/FancyMirrorTest.pdb
/FancyMirrorTest/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/FancyMirrorTest/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/FancyMirrorTest/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/Testing/bin/Debug/FancyMirrorTest.exe
/Testing/bin/Debug/FancyMirrorTest.pdb
/Testing/bin/Debug/Testing.dll
/Testing/bin/Debug/Testing.pdb
/Testing/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/Testing/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/Testing/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/Testing/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/Testing/obj/Debug/Testing.csproj.FileListAbsolute.txt
/Testing/obj/Debug/Testing.csprojResolveAssemblyReference.cache
/Testing/obj/Debug/Testing.dll
/Testing/obj/Debug/Testing.pdb
/.vs/FancyMapper/v14/*.suo
/Fancy/*.user
/Testing/*.user
/Fancy/bin
/Testing/bin
/TestResults
/Fancy/obj
/Testing/obj
/.vs/FancyMapper/v15/.suo
